@(collection: ArchiveItCollection, seedForm : Form[Seed])

@import helper.twitterBootstrap._
<script>
$(document).ready(function(){

	$.fn.editable.defaults.mode = 'inline';
	$.fn.editable.defaults.ajaxOptions = {type: "PUT"};

    $('#pencil').click(function(e) {
        e.stopPropagation();
        $('#collectionName').editable('toggle');
    });
    
	$('#collectionName').editable({
        validate: function(value) {
           if($.trim(value) == '') return 'This field is required';
        },
        success: function(msg){
			$(".bottom-right").notify({
			    message: { text: 'Name Updated' }
			  }).show();
			}
    });
    
    $("#active-seed-select").click(function(src) {
       $(".seed-active").each(function() {
         this.checked = src.target.checked;
    	});
    });
    
    $("#inactive-seed-select").click(function(src) {
       $(".seed-inactive").each(function() {
         this.checked = src.target.checked;
    	});
    });
    
	$("#collectionPrivacy").change(function() {
		$.ajax({
			type: "PUT",
			url: "/collections/" + $(this).attr("collectionId"),
			data: {privacy: $(this).find("option:selected").val()}
			})
			.success(function(msg){
			$(".bottom-right").notify({
			    message: { text: 'Privacy Updated' }
			  }).show();
			})
			.error(function( msg ) {
				alert( "Unable to update privacy");
			});
	});
	$("#collectionStatus").change(function() {
		var request = {
			type: "PUT",
			url: "/collections/" + $(this).attr("collectionId"),
			data: {status: $(this).find("option:selected").val()}
			};
		console.log(request);
		$.ajax(request)
		    .success(function(msg){
			$(".bottom-right").notify({
			    message: { text: 'Status Updated' }
			  }).show();
			})
			.error(function( msg ) {
			alert( "Unable to update status");
		});
	});
	$("#collectionFrequency").change(function() {
		var request = {
			type: "PUT",
			url: "/collections/" + $(this).attr("collectionId"),
			data: {frequency: $(this).find("option:selected").val()}
			};
		console.log(request);
		$.ajax(request)
		.success(function(msg){
			$(".bottom-right").notify({
			    message: { text: 'Frequency Updated' }
			  }).show();
			})
			.error(function( msg ) {
			alert( "Unable to update frequency");
		});
	});
	
	$("#seed-table-active").dataTable();
	$("#seed-table-inactive").dataTable();
});

</script>
      <div class="row" id="main-collections-active">
        <div class="col-md-12">
          <div class="panel" id="collection-head-panel">
            <div class="panel-heading">Collection</div>
            <div class="panel-body offwhite-bg">
              <div class="row">
                <div class="col-md-8 inline">
                  <button id="pencil" class="btn btn-default offwhite-bg" style="margin-bottom:5px;float:left;border:none; padding-left:6px;padding-right:6px;">
                    <span class="glyphicon glyphicon-pencil" style="margin-top: 20px" ></span>
                  </button>
                  <H2><span  id="collectionName" data-toggle="pencil" data-type="text" data-pk="@collection.getId" data-url="/collections" data-title="Rename collection" data-placeholder="Required" style="border-bottom:none;">@collection.getName()</span>
                  <small>created on @collection.getDateCreated().format("MM/dd/yy")</small></h2>
                </div>
                <div class="col-md-4" style="padding-left:0px">
                
                  <form class="form-inline" role="form">
                    <div class="form-group" style="padding: 14px 10px;">
                      <label class="sr-only" for="collectionPrivacy">Privacy Setting</label>
                      <select id="collectionPrivacy" class="form-control" collectionId="@collection.getId">
                  	    @for(p <- PrivacySetting.values()) {
                  	      <option value="@p" @if(p == collection.getPrivacy()) {selected}>@p.getValue</option>
                  	    }
                      </select>
                    </div>
                    <div class="form-group">
                      <select id="collectionStatus" class="form-control" collectionId="@collection.getId">
                  	    @for(s <- Status.values()) {
                  	      <option value="@s" @if(s == collection.getStatus()) {selected}>@s.getValue</option>
                  	    }
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="navbar navbar-inverse" style="min-height:25px">
          		<ul class="navbar-nav nav nav-justified" style="padding:0;margin:0;">
                    <li><a href="#" type="button" class="btn inverse">CRAWL SCOPE</a></li>
                    <li><a href="#" type="button" class="btn inverse">COLLECTION METADATA</a></li>
                    <li><a href="#" type="button" class="btn inverse">DOCUMENT METADATA</a></li>
                    <li><a href="#" type="button" class="btn inverse">REPORTS</a></li>
                    <li><a href="#" type="button" class="btn inverse">MISSING URLS</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel" id="collection-head-panel">
            <div class="panel-heading">Crawling Activity</div>
            <div class="panel-body">
              <table class="table table-condensed three-col">
                <tr>
                  <th style="width:240px">FREQUENCY</th>
                  <th style="width:200px;">MOST RECENT CRAWL</th>
                  <th>NEXT SCHEDULED CRAWL</th>
                </tr>
                <tr>
                  <td><select id="collectionFrequency" style="margin-top: 5px;"class="form-control" collectionId="@collection.getId">
                  	@for(s <- CrawlFrequency.values()) {
                  	  <option value="@s" @if(s == collection.getFrequency()) {selected}>@s.getValue</option>
                  	}
                  </select></td>
                  <td ><p style="margin-top: 10px">@collection.getDateLastCrawl().format("MM/dd/yyyy 'at' hh:mm a zzz")</p></td>
                  <td><p style="margin-top: 3px;">@collection.getDateNextCrawl().format("MM/dd/yyyy 'at' hh:mm a zzz") &nbsp; <button class="btn">CRAWL NOW</button></p></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="panel" id="collection-head-panel">
            <div class="panel-heading">Active Seeds</div>
            <div class="panel-body">
              
              <div class="row offwhite-bg" style="margin:0 0 20px;">
              @helper.form(action = routes.SeedController.save(), 'id -> "newSeedForm") {
              	<div class="col-md-6">
              	  @helper.inputText(seedForm("url"),'_label->"", 'class->"form-control", 'placeholder->"Enter a new seed URL", 'minlength->"4", 'type->"url", 'required->true)
              	  <input type="hidden" name="collectionId" value='@collection.getId' >
                </div>
                <div class="col-md-2">
                  <input type="submit" class="btn btn-primary" value="ADD SEED">
                </div>
              }
                <div class="col-md4 inline">
                	<a href="">+ Add seeds in bulk</a>
                </div>
              </div>
              <table id="seed-table-active" class="table table-condensed" style="width: 100%">
                <thead>
                <tr>
                  <th><input type="checkbox" id="active-seed-select"></th>
                  <th>URL</th>
                  <th>FREQUENCY</th>
                  <th>MOST RECENT CRAWL</th>
                  <th>CRAWL REPORT</th>
                  <th>COMMENTS</th>
                </tr>
                </thead>
                <tbody>
                @for(s <- collection.getSeeds()){
                  @if(s.getStatus == Status.ACTIVE) {
                  <tr>
                    <td><input type="checkbox" class="seed-active" id="@s.getId"></td>
                    <td><a href="@routes.SeedController.details(s.getId())">@s.getUrl</a></td>
                    <td>@s.getFrequency().getValue()</td>
                    <td>@s.getDateLastCrawled.format("MM/dd/yyyy 'at' hh:mm a zzz")</td>
                    <td><a href="">view &gt;</a></td>
                    <td>
                        <a href="" style="padding-right: 10px">@s.getComments().size() ></a>
                        <span class="glyphicon glyphicon-pencil inverse pull-right"></span>
                    </td>
                  </tr>
                  }
                }
                </tbody>
              </table>
            </div>
            
            <div class="panel" id="collection-head-panel">
            <div class="panel-heading">Inactive Seeds</div>
            <div class="panel-body">
              
              
              <table id="seed-table-inactive" class="table table-condensed" style="width: 100%">
                <thead>
                <tr>
                  <th ><input type="checkbox" id="inactive-seed-select"></th>
                  <th>URL</th>
                  <th>LAST CRAWL</th>
                  <th>CRAWL REPORT</th>
                  <th>COMMENTS</th>
                </tr>
                </thead>
                <tbody>
                @for(s <- collection.getSeeds()){
                  @if(s.getStatus == Status.INACTIVE) {
                  <tr>
                    <td><input type="checkbox" class="seed-inactive" id="@s.getId"></td>
                    <td><a href="@routes.SeedController.details(s.getId())">@s.getUrl</a></td>
                    <td>@s.getDateLastCrawled.format("MM/dd/yyyy 'at' hh:mm a zzz")</td>
                    <td><a href="">view ></a></td>
                    <td>
                        <a href="" style="padding-right: 10px">@s.getComments().size() ></a>
                        <span class="glyphicon glyphicon-pencil inverse pull-right"></span>
                    </td>
                  </tr>
                  }
                }
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>