# general
*~
*.log
tmp/
dump/

#OSX
.DS_Store
 
# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin/
  
# SBT
dist/
project/boot/
project/target/
project/project/
project/plugins/target/
target/
.target
   
# Play
logs/
RUNNING_PID
