@()
    <div class="col-md-3" id="sidebar">
      <div class="panel" id="sidebar-panel">
        <div class="panel-heading">Current Subscription</div>
        <div class="panel-body">
          <div class="panel" id="sidebar-panel-data">
            <div class="panel-heading dark"><strong>DATA</strong></div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item jumbo"><strong>13.6%</strong> used<hr></li>
                <li class="list-group-item">16.4 GB used</li>
                <li class="list-group-item">124 GB available</li>
              </ul>
            </div>
          </div>
          <div class="panel" id="sidebar-panel-documents">
            <div class="panel-heading dark"><strong>DOCUMENTS</strong></div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item jumbo"><strong>45.7%</strong> used<hr></li>
                <li class="list-group-item">457,000 used</li>
                <li class="list-group-item">1,000,000 available</li>
              </ul>
            </div>
          </div>
          <div class="panel" id="sidebar-panel-collections">
            <div class="panel-heading dark"><strong>COLLECTIONS</strong></div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item jumbo"><strong>4</strong><hr></li>
                <li class="list-group-item">2 inactive</li>
                <li class="list-group-item">1 dormant</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel" id="sidebar-panel-all-subscriptions">
        <div class="panel-heading">All Subscriptions</div>
        <div class="panel-body">
          <div class="panel" id="sidebar-panel-subscription-summary">
            <div class="panel-body">
              <ul class="list-group">
              <li class="list-group-item dark"><strong>DATA ARCHIVED</strong></li>
                <li class="list-group-item jumbo"><strong>500 GB</strong></li>
                <li class="list-group-item dark"><strong>DOCUMENTS CRAWLED</strong></li>
                <li class="list-group-item jumbo"><strong>26,045,123</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default" id="sidebar-panel-help">
        <div class="panel-heading">Help</div>
        <div class="panel-body" style="background-color:#f0f0f0;margin-bottom:20px;">
          <p> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/></p>
        </div>
      </div>
    </div>