* {
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.dark-gray-bg {
	background-color: #333;
	color: #fff;
}

.medium-gray-bg {
	background-color: #666;
	color: #fff;
}

.light-gray-bg {
	background-color: #999;
	color: #fff;
}

.offwhite-bg {
	background-color: #f0f0f0;
	color: #000;
}

.top-nav {
	margin-bottom: 0;
}

.navbar-nav.nav-justified > li{
    width:20%;
}
.navbar-nav.nav-justified a {
	padding:0;
	margin:0;
}

.navbar-inverse {
	background-color:#666666;
	border:0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
a {
	text-decoration: underline;
	color: #000;
}

a.plain {
	text-decoration: none;
}

a.inverse {
	color: #fff;
}

.divider-vertical {
    height: 25px;
    width:2px;
    margin: 0;
    border-right: 1px solid #FFF;
}

th,
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
     background-color:#999999;
     color: white;
  }
table,
table.table,
table.dataTable {
     border-collapse:separate;
     border:1px;
     border-color:#fff;
     border-spacing:5px;
     margin-left: -5px;
  }

  td {
     background-color:#f0f0f0;
     color:#000;
  }
  a td {
     color:#000 !important;
  }

.three-col {
	table-layout: fixed;
	width: 847px;
}

.three-col .col-1 {
	width: 250px;
}

.three-col .col-2 {
	width: 200px;
}

#sidebar {
	width: 292px;
	padding-right: 0;
	padding-left: 25px
}
  hr {
     margin:1px;
  }
  .panel-default .panel-heading{
     background-color:#fff;
  }
  .panel {
     border:none;
     padding-left:0px;
     margin-bottom:5px;
  }
  .panel-heading {
     padding:0px;
     border:none;
  }

  .panel-body {
     padding:0px;
     margin-bottom: 10px;
  }
  
    .list-group {
     margin-bottom:5px;
  }


  .list-group-item {
     background-color:#cccccc;
     border:none;
     padding-top:0px;
     padding-bottom:0px;
  }

  .dark {
     background-color:#999;
     padding:0px 15px;
     color:#fff;
  }

  .alert {
     margin-bottom:5px;
  }
  
.inline {
  display: inline-block;
  vertical-align: baseline;
}

.inline-centered {
	display: inline-block;
	vertical-align: center;
}

  .center {
	margin-left:auto;
	margin-right:auto;
  }

  .jumbo {
     font-size:30px;
  }