@(seed: Seed)

@import helper._
<script>
$(document).ready(function(){
	$("#seedPrivacy").change(function() {
		$.ajax({
			type: "PUT",
			url: "/seeds/" + $(this).attr("seedId"),
			data: {privacy: $(this).find("option:selected").val()}
			})
		    .success(function(msg){
		    	$('.bottom-right').notify({
		    	    message: { text: 'Privacy updated' }
		    	  }).show();
				 })
			.error(function( msg ) {
				alert( "Unable to update privacy");
			});
	});
	$("#seedStatus").change(function() {
		var request = {
			type: "PUT",
			url: "/seeds/" + $(this).attr("seedId"),
			data: {status: $(this).find("option:selected").val()}
			};
		console.log(request);
		$.ajax(request)
		    .success(function(msg){
		    	$('.bottom-right').notify({
		    	    message: { text: 'Status updated' }
		    	  }).show();
				 })
			.error(function( msg ) {
			alert( "Unable to update status");
		});
	});
	$("#seedFrequency").change(function() {
		var request = {
			type: "PUT",
			url: "/seeds/" + $(this).attr("seedId"),
			data: {frequency: $(this).find("option:selected").val()}
			};
		console.log(request);
		$.ajax(request)
		    .success(function(msg){
		    	$('.bottom-right').notify({
		    	    message: { text: 'Frequency updated' }
		    	  }).show();
				 })
			.error(function( msg ) {
			alert( "Unable to update frequency: " + msg.responseText);
		});
	});
});
</script>
<div class="row">
  <div class="col-md-12">
  	<a href="@routes.CollectionController.details(seed.getCollection().getId())">&lt; @seed.getCollection().getName() Collection</a>
  </div>
</div>
<div class="panel" id="seed-detail-panel">
  <div class="panel-heading">Seed Detail</div>
  <div class="panel-body">
    <div class="row" style="background-color:#f0f0f0">
      <div class="col-md-8" style="padding-left:0px">
        <form action="" method="POST">
          <button class="btn btn-default" style="background-color:#f0f0f0; margin-bottom:5px;float:left;border:none; padding-left:6px;padding-right:6px;">
            <span class="glyphicon glyphicon-pencil" ></span>
          </button>
          <h2>@seed.getUrl() <small>created on @seed.getDateCreated().format("MM/dd/yy")</small></h2>
        </form>
      </div>
      <div class="col-md-4" style="padding-left:0px">
        <select id="seedPrivacy" seedId="@seed.getId">
          @for(p <- PrivacySetting.values()) {
            <option value="@p" @if(p == seed.getPrivacy()) {selected}>@p.getValue</option>
          }
        </select>
        <select id="seedStatus" seedId="@seed.getId">
          @for(s <- Status.values()) {
            <option value="@s" @if(s == seed.getStatus()) {selected}>@s.getValue</option>
          }
        </select>
      </div>
    </div>
  </div>
</div>
<div class="panel" id="seed-detail-panel">
  <div class="panel-heading">Seed Settings</div>
  <div class="panel-body">
  <table class="table table-condensed" style="width=100%">
    <tr> 
      <th>FREQUENCY</th>
      <th>LIVE WEB STATUS</th>
      <th>SEED TYPE</th>
      <th>USERNAME</th>
      <th>PASSWORD</th>
    </tr>
    <tr>
      <td>
        <select id="seedFrequency" seedId="@seed.getId">
          @for(s <- CrawlFrequency.values()) {
            <option value="@s" @if(s == seed.getFrequency()) {selected}>@s.getValue</option>
          }
        </select>
      </td>
      <td>@if(seed.getVerified) {
      	    Verified
          } else {
            Unchecked &nbsp; <button class='btn btn-default'>VERIFY NOW</button>
          }
      </td>
      <td>@seed.getType()</td>
      <td>@seed.getLoginUsername()</td>
      <td>*********</td>
    </tr>
  </table>
  
  </div>
  <div class="panel" id="seed-metadata-panel">
    <div class="panel-heading">Dublin Core Metadata</div>
    <div class="panel-body">
      <table class="table table condensed">
      	<tr>
      	  <th>NAME</th>
      	  <th>CURRENT METADATA</th>
      	  <th>ADD METADATA</th>
      	</tr>
       	  @for(name <- DublinCoreMetadata.values()) {
      	    <tr>
       	      <td>@name.toString()</td>
       	      <td>
       	      @for(metadata <- seed.getCollection().getMetadata()) {
       	         @if(metadata.getKey() == name.getValue()) {
       	           <p>@metadata.getValue()</p>
       	         }
       	      }
       	      </td>
       	      <td><input type="text" name=@name></td>
       	    </tr>
       	  }
      	</tr>
      </table>
    </div> 
  </div>
</div>