@()
<div class="container medium-gray" id="container-footer">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="navbar navbar-bottom" style="border:none;">
        <ul class="nav nav-justified">
          <li class=""><a href=""><small>HELP</small></a></li>
          <li class=""><a href=""><small>SUBMIT A QUESTION</small></a></li>
          <li class=""><a href=""><small>BOOKMARKLET</small></a></li>
          <li class=""><a href=""><small>CONTACT US</small></a></li>
          <li class=""><a href=""><small>ABOUT ARCHIVE-IT</small></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>