@()
<div class="container" id="container-header" >
  <div class="row dark-gray-bg" id="header">
    <div class="col-md-1"><h3 style="margin-top:3">Partner Logo</h3></div>
    <div class="col-md-3"><p class="text-left" style="margin-top:52px;"><small>member since January 2009</small></p></div>
    <div class="col-md-">
      <div class="row">
        <div class="col-md-12">
          <p class="text-right" style="margin-top:20px;margin-bottom:0;"><small>Welcome&nbsp;<a href="member/kirktarou">Kirk Tarou</a></small></p>
          <p class="text-right" ><small><a href="/settings">Account Settings</a> | <a href="/help">Help</a> | <a href="/admin/user">User Admin</a> | <a href="/logout">Log Out</a></small></p>         </div>
      </div>
    </div>
  </div>
</div>

