@()
<div class="container" id="container-nav">
  <div class="row" id="nav">
    <nav class="navbar navbar-inverse top-nav" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="/collections" class="navbar-brand inverse plain">COLLECTIONS</a></li>
        <li><a href="/crawls" class="navbar-brand inverse plain">CRAWLS</a></li>
        <li><a href="/reports" class="navbar-brand inverse plain">REPORTS</a></li>
        <li><a href="/archive" class="navbar-brand inverse plain">ARCHIVE</a></li>
      </ul>
    </nav>
  </div>
</div>